.ii__pcHeader
  .ii__pcHeader__headerInner
    .ii__pcHeader__headerInner__mainHeader
      %h1.ii__pcHeader__headerInner__mainHeader__icon
        itoemosi
      .ii__pcHeader__headerInner__mainHeader__searchBox
        sa-ti
        %button{type: "submit"}
          .ii__pcHeader__headerInner__mainHeader__searchBox__input__icon

      .user_signed_in
        %ul.ii__pcHeader__headerInner__nav__listRight
          %li.ii__pcHeader__headerInner__nav__listRight__item.ii__pcHeader__headerInner__nav__listRight__item--mypage
            マイページ
          %li.ii__pcHeader__headerInner__nav__listRight__item.ii__pcHeader__headerInner__nav__listRight__item--login
            roguin
          %li.ii__pcHeader__headerInner__nav__listRight__item.ii__pcHeader__headerInner__nav__listRight__item--new
            sinnkitouroku
    
      
